ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li{
    border: 1px solid #ccc;
    background: #eee;
    width: 600px;
    padding: 5px 10px;
}

.clicked {
    text-decoration: line-through;
    color: #e00;
    font-size: 18px;
    margin-left: 10px;
}

.itemText {
    margin-left: 10px;
    cursor: pointer;
}

.deleter {
    float: right;
    cursor: pointer;
    font-weight: bold;
    color: red;
}